<div class="sidebar">
    <div class="bg-image">
        <img src="../../../../assets/img/europe-flag.jpeg" style="width:250px" />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.2)"></div>
    </div>
    <div class="row flex-nowrap">
        <div class="col-md-12" style="background-color: rgba(242,247,250,0.85); width: 95.5%">
            <div class="d-flex flex-column align-items-center pt-2 min-vh-100 sidebar-container">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start nav-links">
                    <li class="nav-item">
                        <a class="nav-link align-middle px-0" href="https://hadea.ec.europa.eu/index_en" target="_blank">
                            <i class="fs-4 bi-house" style="padding-right: 10px;"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li *ngFor="let link of links">
                        <a class="nav-link px-0 align-middle" routerLink="{{link.title}}" routerLinkActive="current">
                            <i class="{{link.logo}}" style="padding-right: 10px;"></i><span class="ms-1 d-none d-sm-inline">{{link.title | titlecase}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
