<ecl-site-header-core>
    <ecl-site-header-core-action>
        <ecl-site-header-core-search (search)="onSearch($event)"></ecl-site-header-core-search>
    </ecl-site-header-core-action>
</ecl-site-header-core>

<ecl-page-header-core class="unset-header-padding-bottom">
    <ecl-breadcrumb-core class="unset-breadcrumb-margin-bottom">
        <ecl-breadcrumb-core-segment>Home</ecl-breadcrumb-core-segment>
        <ecl-breadcrumb-core-segment [isCurrentPage]="true"> {{url.replace('/', '') | titlecase }} </ecl-breadcrumb-core-segment>
    </ecl-breadcrumb-core>
</ecl-page-header-core>
