<div class="container">
    <h3 style="text-align: center;">Contracts</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam aperiam consequatur consequuntur
        delectus deserunt ea eos explicabo illum ipsum necessitatibus nihil obcaecati, odio omnis pariatur quis quos
        rerum velit veniam veritatis. Assumenda esse libero praesentium totam voluptatibus. Adipisci eius esse fugit
        mollitia nihil odit, reiciendis sint tenetur. Ad aliquam animi atque culpa debitis delectus dignissimos
        distinctio dolore ducimus eligendi, eveniet ex exercitationem fugit in incidunt ipsa ipsam iure minima minus.</p>
</div>

